::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}
body {
    background-image: url("img/city.jpg");
    
    margin: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Monospace;
	width: 100%;
    overflow: hidden;
    max-width: 100%;
    
    color:white;
    
    overflow-y: scroll;
    
    
   }
.navbuttons{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 50px;
    height: 50px;
    
}
.horizontal-scroll-wrapper{
  display: flex;
	align-items: center;
	
	overflow: hidden;
	margin-left: -40px;
	width: 103.5%;
	overflow-x:  scroll;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;  
	scrollbar-width: none;  
  
 
}
.centercon{
  display: flex;
	align-items: center;
	
	overflow: hidden;
	margin-left: -20px;
	width: 105%;
	overflow-x:  scroll;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;  
	scrollbar-width: none;  
  
 
}


.row{
    width: 100%;
    margin: 0 !important;
}
.navbuttons:hover{
    background: rgba(99, 99, 99, 0.25);
    
    
}
.navtitle{
    color: white;
    font-size: 3rem;
}
.title1{
    color:rgb(197,123,124);
    font-size:6rem;

    
}
.title2{
    color:rgb(255, 255, 255);
    font-size:4rem;
    opacity: 0.8;
}

.overlay{
    width: 100vw;
    height: 110vh;
    position: absolute;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    background: rgb(58,155,180);
    

background: linear-gradient(90deg, rgba(58,155,180,0.5) 0%, rgba(253,29,29,0.5) 51%, rgba(252,176,69,0.5) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
}
.overlay1{
  width: 100vw;
  height: 160vh;
  position: absolute;
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}

.search {
    width: 80%;
    position: relative;
    display: flex;

  }
  
  .searchTerm {
    width: 80%;
    margin-left: 20%;
    border: 3px solid #ffffff;
    border-right: none;
    padding: 10px;
    padding-left: 30px;
    height: 100px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.25);
    font-size: 35px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .searchTerm:focus{
    color: #ffffff;
  }
  
  .searchButton {
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    background: rgba(172, 172, 172, 0.25);
    font-size: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .spacer1{
      height: 12vh;
  }
  .spacer2{
    height: 20vh;
}
  .locbutton{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    
  }
  .locbutton:hover{
    color: rgb(255, 0, 0);
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(218, 218, 218);
    opacity: 1; /* Firefox */
  }

  .indicon{
    position:absolute;
    width:300px;
    left:50%;
    top: 10%;
    rotate: 10deg;
    
  }

  .mainweather{
    opacity: 0.8;
    width: 50vw;
    max-width: 550px;
    
    
  }
  .suggestions{
    color: white;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 10px 20px 20px 20px;
    
  }

  .today{
    color: white;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 10px 20px 20px 20px;
    
  }
  .locsug{
    margin-top: 5px;
    font-size: 1.3rem;
    padding: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 50%;
    border: none;
    vertical-align: middle;
  }
  .locsug:hover{
    
    background: rgba(145, 145, 145, 0.25);
    
  }
  .poorsug{
    
    font-size: 1.5rem;
    padding: 20px;
    background: rgba(255, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 50%;
    margin-left: 20px;
    vertical-align: middle;
  }
  .midsug{
    
    font-size: 1.5rem;
    padding: 20px;
    background: rgba(255, 187, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 50%;
    margin-left: 20px;
    
    
    vertical-align: middle;
  }
  .goodsug{
    
    font-size: 1.5rem;
    padding: 20px 20px 20px 20px;
    background: rgba(0, 255, 76, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    width: 50%;
    margin-left: 20px;
    
    
    vertical-align: middle;
  }

  .desk{
      color: white;
      font-size: 1.5rem;
  }
  .temp{
      margin-top: -15px;
      margin-bottom: -15px;
      color: white;
      font-size: 7.5rem;
  }
  .city{
    margin-top: 0px;
    color: white;
    font-size: 3rem;
}
.condition{
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    margin-top: 10px;
}
.con{
    width: 70%;
}
.t2s{
    color: white;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    margin-top: 20px;
    max-width: 400px;
}
.btn-toggle{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}
.t2s:hover{
    background: rgba(145, 145, 145, 0.25);
}
.todaytxt{
  text-align: left;
}
.suggestionstxt{
  text-align: left;
}

#fh1{
  width: 50vw;
  
}
@media only screen and (max-width: 1250px) {
  .con{
    width: 95%;
}
  }
  @media only screen and (max-width: 800px) {
    .horizontal-scroll-wrapper{
      width: 110%;
    }
    .temp{
      
      font-size: 3rem;
  }
  .city{
    
    font-size: 1.5rem;
}
.condition{
    font-size: 1.25rem;
}
    
    .t2s{
      height: 40px;
      font-size: 1rem;
      margin-top: 5px;
      padding: 5px;
    }
    .navtitle{
        margin-top: 8px;
        font-size: 5.5vw;
    }
    .title2{
        font-size:6.5vw;
    }
    .title1{
        font-size:5.5rem;
    }
    .search {
        width: 95%;
    
      }
      .searchTerm {
        margin-left: 5%;
        font-size: 25px;
      }

      .indicon{
       
        top: 15%;
        width:160px;
      }
      .desk{
        font-size: 1rem;
      }
      .searchButton {
          width: 70px;
      }
      .spacer2{
        height: 10vh;
    }
    .fh2{
      margin-top: -20px;
      
    }
    #fh1{
      width: 50vw;
      
    }
    .overlay1{
      width: 100vw;
      height: 145vh;
    }
    .suggestions
    {
      zoom: 70%;
    }
    .today
    {
      zoom: 50%;
    }
    
    .todaytxt{
      zoom: 1.3;
    }
    .suggestionstxt{
      zoom: 0.95;
    }
  }

 